<div class="tablas-informacion">
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Teléfono</th>
        <th>RFC</th>
        <th>Operaciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let proveedor of suppliers">
        <td>{{ proveedor.nombre }}</td>
        <td>{{ proveedor.apellidoPaterno }}</td>
        <td>{{ proveedor.apellidoMaterno }}</td>
        <td>{{ proveedor.telefono }}</td>
        <td>{{ proveedor.rfc }}</td>
        <td>
          <button class="btn-editar" (click)="onEdit(proveedor)">
            <i class="bx bx-edit"></i>
          </button>
          <button class="btn-eliminar" (click)="onDelete(proveedor)">
            <i class="bx bx-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
